body,html{
	height: 100%;
}
*{
	box-sizing: border-box;
}

header{
	background-color:#F3BFB3;
	/*filter: blur(8px);*/
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.bg-text{
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

#committes, #organization{
	border: 3px solid black;
	width: 80%;
	padding: 20px;
}

nav{
	background: #F3BFB3;
}

#navbarNav{
	font-size: 30px;
	font-weight: 800;
}

#navbarNav li{
	/*margin-left: 30px;*/
	margin-right: 30px;

}


#about{
	background: #C29BA3;
	color: white;
	padding: 100px 100px;
	font-size: 20px;
	text-align: center;
}

#about img{
	width: 300px;
	height: 300px;
	border-radius: 50%;

}

#first{
	font-weight: 300;
	text-align: justify;
}

h1{
	font-size: 60px;
	text-align: center;

}

hr{
	border:solid 2px white;
	text-align: center;
}

.container{
	padding-top: 30px;
}

#skill{
	background: #F7E5B7;
	padding: 100px 100px;
	color: #445A67;
}

#skill hr{
	border:solid 2px #445A67;
}

#skill h4{
	padding-top: 20px;
}

#hardskill{
	margin-right: 100px;
}

.progress-bar{
	background:grey;
}

#experience{
	background: #FFEDDA;
	padding: 100px 100px;
}

#experience hr{
	border:solid 2px black;
}

#contact{
	background: #A7D9C9;
	padding: 50px 50px;
	color: white;
	text-align: center;
}

#contact img{
	width: 30px;
	height: 30px;
	margin-left: 100px;
	margin-right: 100px;
}


form, .form-group{
	padding : 30px 30px;
}

.btn-group{
	padding-bottom: 50px;
}

.btn, .btn-secondary{
	background: rgba(15, 51, 71, 0.64) !important;
}

.galeri{
	max-width: 400px
}

#galeri{
	background: #B5F3F0;
	padding: 100px 100px;
}

#galeri hr{
	border:solid 2px black;
}

#galeri img{
	width: 350px;
	height: 250px;
	padding: 30px 30px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 75%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;

}

.container:hover .overlay {
  opacity: 1;
}


#portfolioModal1 img{
	width: 550px;
	height: 450px;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}


