body {
	font-size: 25px;
	font-family: sans-serif;
}

nav{
	background-color: #660000;
	position: fixed;
	top: 0;
	width: 100%;
}

nav a{
	text-decoration: none;
	float: left;
	color: white;
	padding: 30px 30px;
	font-size: 30px;
}

nav a:hover{
	background-color: #663300;
}

header{
	text-align: center;
	padding: 100px 100px;
}

header img{
	border-radius: 50%;
	width :300px;
	height :300px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

#about{
	text-align: center;
	padding: 50px 50px;
	background-color: #000033;
	color: white;
}

#about p{
	text-align: justify;
	margin-left: 150px;
	margin-right: 150px;
}

#contact{
	background-color: #660066;
	color: white;
	text-align: center;
	padding: 30px 30px;
}

#contact img{
	width: 50px;
	height: 50px;
	margin-left: 100px;
	margin-right: 100px;
}